<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <!--https://github.com/nlog/nlog/wiki/Tutorial-->
  <!--https://github.com/NLog/NLog/wiki/Visual-Studio-Support-->
  <!--http://nlog-project.org/documentation/v4.4.0/html/R_Project_NLog.htm-->

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true" throwConfigExceptions="true">

    <variable name="console" value="${pad:padding=5:inner=${level:uppercase=true}} ${message}" />
    <variable name="debugger" value="${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message}" />
    <variable name="verbose"
              value="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message}" />
    <targets>
      <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
              layout="${console}">
        <!--Fatal - Highest level: important stuff down-->
        <!--Error - For example application crashes / exceptions.-->
        <!--Warn  - Incorrect behavior but the application can continue-->
        <!--Info  - Normal behavior like mail sent, user updated profile etc.-->
        <!--Debug - Executed queries, user authenticated, session expired-->
        <!--Trace - Begin method X, end method X etc-->
        <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="Cyan" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="Black" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="White" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Yellow" backgroundColor="Red" />
      </target>
      <target name="debugger" xsi:type="Debugger" layout="${debugger}" />
      <target name="n" xsi:type="AsyncWrapper">
        <target name="file" xsi:type="File" openFileCacheTimeout="30" layout="${verbose}"
                deleteOldFileOnStartup="true"
                fileName="${basedir}\${processname}.log" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="debugger,file" />
    </rules>
  </nlog>

  <connectionStrings>
    <add name="RVLMSDB" connectionString="Data Source=172.20.0.196,1433;Initial Catalog=RVLMS20;uid=rvuser;pwd=MyRVUser!" />
  </connectionStrings>

  <appSettings>

    <!-- Begin Critical Configuration Settings with Default Value as Comment -->
    <add key="ReprocessAllCourses" value="true" /><!-- Normally true -->
    <add key="DisableCourseProcessing" value="false" /><!-- Normally false -->
    <add key="DisableDownloadingMp4WebmOgv" value="false" /><!-- Normally false -->
    <add key="DisableCopyingToFinalLocation" value="false" /><!-- Normally false -->
    <add key="ClearFinalDestinationBeforeProcessing" value="true" /><!-- Normally true -->
    <add key="DeleteWorkingIntermediateFiles" value="true" /><!-- Normally true -->
    <!-- End Critical Configuration Settings -->

    <!-- Begin V2 Settings -->
    <add key="CatalogStatusInfo" value="0=Disabled, 1=Active, 2=Archived, 3=Report Only, 4=Assign Only, 5=In Dev" />
    <add key="CatalogStatusToProcess" value="1,3,4" />
    <!-- End V2 Settings -->

    <!-- Begin Directory Settings -->
    <add key="ContentControlJamXlsx" value="COM ETL to JAM - 2021 - RICK.xlsx" />
    <add key="OnlyProcessThisPriority" value="" />
    <add key="OnlyProcessThisRvSku" value="" /> <!--AEEAL01CEN-->
    <add key="ContentSourceDirectory" value="\\172.20.0.123\ExtraRV" />
    <add key="LessonPdfDirectory" value="\\172.20.0.100\pdf\RedVector" />
    <add key="WorkingDirectory" value="E:\RVC2JAM\working" />
    <add key="FinalDirectory" value="E:\RVC2JAM\final" />
    <add key="LocalPreviewUrl" value="http://itdevlt3n.redvector1.com:81" />
    <add key="ProductionPreviewUrl" value="http://preview.redvector.com" />
    <!-- End Directory Settings -->

    <!-- Begin Log Configuration Settings -->
    <add key="LogBodyJsChanges" value="true" />
    <add key="LogUrlLocalization" value="true" />
    <add key="LogUrlLocalizationDownloads" value="true" />
    <add key="LogHacks" value="true" />
    <add key="LogScormFileDetails" value="true" />
    <!-- End Log Configuration Settings -->

    <!-- Begin Email Settings -->
    <add key="EmailFrom" value="vlsystem@redvector.com" />
    <add key="EmailTo" value="Rick.Tremmel@VectorSolutions.com" />
    <add key="EmailCc" value="" />
    <add key="RvEmailerServiceAttachmentPathExternal" value="\\172.20.0.100\RV_EmailerService_TEMP_ATTACHMENTS\" />
    <add key="RvEmailerServiceAttachmentPathInternal" value="e:\RV_EmailerService_TEMP_ATTACHMENTS\" />
    <!-- End Email Settings -->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>